<!DOCTYPE html>
<html>

<head>
    <title>Quy chế đào tạo Đại học Quốc Gia Hà Nội</title>
    <script src="//code.jquery.com/jquery-3.4.0.min.js"></script>
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="static/custom.css" type="text/css">
</head>

<body>
    <div class="container">
        <div class="text-center">
            <h2 class="title">Quy chế đào tạo Đại học Quốc Gia Hà Nội - GPT page</h2>

            <!-- Button to navigate to another_page -->
            <button id="page2Button" onclick="goToVietCuna()">Chuyển qua hỏi đáp bằng mô hình VietCuna</button>
        </div>
        <br>
        <form id="chat-form">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <div class="dialog_history">
                           <!-- <p class="bot_msg"></p>-->
                        </div>
                        <textarea class="form-control" id="user_query" placeholder="Type message and press enter" rows="1"></textarea>
                    </div>
                </div>
            </div>
        </form>
        
    </div>
    


</body>

</html>
<script src="/static/script.js"></script>
